# logs
log/
wandb/

# checkpoints
ckp/*
tokenmix2/**/*.pyc
train_results/*
!train_results/convert.py
buffer/
models

# datasets
mmlu/data
mmlu/data.tar
mmlu/output
mmlu/__pycache__
LongBench/
raw_data/
data/
data_cache/

# misc
*.egg-info
pred
pred_e
lm-corpus
lm-profiler
