# logs
log/
wandb/

# checkpoints
ckp/*
*.pth
*.pyc
__pycache__/
train_cache/*
train_results/*
!train_results/convert.py

# datasets
mmlu/
LongBench/
raw_data/
data/
data_cache/

# misc
*.egg-info/
pred/
lm-corpus
lm-profiler
*.pyc
